.cont-1{
    height: 100vh;
    display: flex;
}

.left-img{
    width: 100%;
    height: 100%;
}

.left-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.right-content{
    /* background-color: #F5F5F5; */
    width: 100%;
    background: rgb(239,229,240);
background: radial-gradient(circle, rgba(239,229,240,1) 0%, rgba(249,249,249,1) 100%);
}

/* HERE ITS bEGINS*/

.form{
    
}

.signup{
    position: relative;
}

.contentt{
    display: flex;
    flex-direction: column;
    width: 450px;
    /* gap: 40px; */
   margin: 60px 160px;
   /* background-color: aquamarine; */
   border-radius: 20px;
   padding: 30px;
   
}

.ll{
    /* margin-top: -50px; */
    margin: 60px 150px;
    font-size: 35px;
    font-weight: 600;
    color: #646CFF;
    margin-bottom: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content{
    background: linear-gradient(45deg, #061d45, #33085e)
}

.inputs input{
    color: #bbdefb;
    padding-top: 5px;
}

.log-in{
    color: #bbdefb;
    text-align: center;
}

.log-in a{
    cursor: pointer;
    color: #bbdefb;
}

.log-in a:hover{
    color: #646CFF;
    text-decoration: underline;
}

.error-message {
    color: red; /* Set the text color to red */
    font-size: 14px; /* Set the font size */
    margin-top: 8px; /* Add some top margin for spacing */
  }
  

.incorrect{
    position: absolute;
    font-size: 14px;
    color: #dc2626;
    top: 384px;
}