<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .semicircle{
        width: 500px;
        height: 250px;
        border-radius: 0 0 24rem 24rem;
        margin-left: 100px;
        background-color: purple;
      }
      
      
  </style>
</head>
<body>
    <div class="semicircle-container">
        <div class="semicircle">
          <p>Your Text Here</p>
        </div>
      </div>
      
</body>
</html>
